<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mines Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Mines Bot</h1>
        <button id="start-button">INICIAR NAVEGADOR</button>
        <button id="bet-button" style="display:none;">INICIAR APOSTAS</button>
        <button id="stop-button">PARAR APOSTAS</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
